<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <a href="{{ site.baseurl }}/" class="header-brand">
        {{ site.title }}
      </a>
      <div class="d-flex order-lg-2 ml-auto">
        <a class="avatar" href="https://trello.com/b/5nHUSyxK/consoapp"><i class="fab fa-trello"></i></a>
        <a class="avatar" href="https://github.com/felixleo22/ConsoApp"><i class="fab fa-github"></i></a>
      </div>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0 collapsed" data-toggle="collapse" data-target="#headerMenuCollapse" aria-expanded="false">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>

<div class="header d-lg-flex p-0 collapse" id="headerMenuCollapse" style="">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
          {% for my_page in site.pages %}
          {% if my_page.title %}
          <li class="nav-item">
            <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
          <li class="nav-item">
            <a class="nav-link" href="./_layouts/post.html">{{post.title}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
